---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{item}}"
  with_first_found:
    - files:
      - "vars/{{ansible_distribution_major_version}}.yml"
      - 'vars/main.yml'
      errors: 'ignore'
  tags:
    - disable
    - nginx

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file create nginx.conf'
  template:
    src: "{{file_src_nginx_conf}}"
    dest: "{{file_dst_nginx_conf}}"
    mode: "{{file_mode_nginx_conf}}"
    owner: "{{file_owner_nginx_conf}}"
    group: "{{file_group_nginx_conf}}"
  notify: 'command check nginx'
  tags:
    - disable
    - nginx

#-------------------------------------------------------------------------------
# SYSTEM
#-------------------------------------------------------------------------------

- name: 'service stop nginx'
  service:
    state: 'stopped'
    enabled: 'no'
    name: "{{service_name_nginx}}"
  tags:
    - disable
    - nginx
