---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{item}}"
  with_first_found:
    - files:
      - "vars/{{ansible_distribution_major_version}}.yml"
      - 'vars/main.yml'
      skip: 'true'
  tags:
    - remove
    - auditd

#-------------------------------------------------------------------------------
# PACKAGING
#-------------------------------------------------------------------------------

- name: 'package remove audit'
  package:
    state: 'absent'
    name: "{{package_name_audit}}"
    install_recommends: 'no'
  tags:
    - remove
    - auditd

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file remove auditd.conf'
  file:
    state: 'absent'
    path: "{{file_dst_auditd_conf}}"
  tags:
    - remove
    - auditd

- name: 'file remove syslog.conf'
  file:
    state: 'absent'
    path: "{{file_dst_syslog_conf}}"
  tags:
    - remove
    - auditd

- name: 'file remove audispd.conf'
  file:
    state: 'absent'
    path: "{{file_dst_audispd_conf}}"
  tags:
    - remove
    - auditd
