---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{item}}"
  with_first_found:
    - files:
      - "vars/{{ansible_distribution_major_version}}.yml"
      - 'vars/main.yml'
      skip: 'true'
  tags:
    - install
    - motd

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file create motd'
  template:
    src: "{{file_src_motd}}"
    dest: "{{file_dst_motd}}"
    mode: "{{file_mode_motd}}"
    owner: "{{file_owner_motd}}"
    group: "{{file_group_motd}}"
  tags:
    - install
    - motd
