#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : config
# Type   : auditd configuration file
# Role   : auditd
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% if not ((item.name|default('')) == '') %}
#-------------------------------------------------------------------------------
# {{(item.name|upper)}}
#-------------------------------------------------------------------------------

{% endif %}
{% for config in (item.config|default([])) %}
{% if not ((config.comment|default('')) == '') %}
# {{config.comment}}
{% endif %}
{{config.rule}}

{% endfor %}
