---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - enable
    - node_exporter

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file create node_exporter.sysconfig'
  template:
    src: "{{file_src_node_exporter_sysconfig}}"
    dest: "{{file_dst_node_exporter_sysconfig}}"
    mode: "{{file_mode_node_exporter_sysconfig}}"
    owner: "{{file_owner_node_exporter_sysconfig}}"
    group: "{{file_group_node_exporter_sysconfig}}"
  notify: 'service restart node_exporter'
  tags:
    - enable
    - node_exporter

#-------------------------------------------------------------------------------
# SYSTEM
#-------------------------------------------------------------------------------

- name: 'service start node_exporter'
  service:
    state: 'started'
    enabled: 'yes'
    name: "{{service_name_node_exporter}}"
  tags:
    - enable
    - node_exporter
