---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{item}}"
  with_first_found:
    - files:
      - "vars/{{ansible_distribution_major_version}}.yml"
      - 'vars/main.yml'
      skip: 'true'
  tags:
    - install
    - group

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file ensure group'
  file:
    state: 'file'
    dest: "{{file_dst_group}}"
    mode: "{{file_mode_group}}"
    owner: "{{file_owner_group}}"
    group: "{{file_group_config_group}}"
  tags:
    - install
    - group
