---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{item}}"
  with_first_found:
    - files:
      - "vars/{{ansible_distribution_major_version}}.yml"
      - 'vars/main.yml'
      skip: 'true'
  tags:
    - remove
    - tmux

#-------------------------------------------------------------------------------
# PACKAGING
#-------------------------------------------------------------------------------

- name: 'package remove tmux'
  package:
    state: 'absent'
    name: "{{package_name_tmux}}"
    install_recommends: 'no'
  tags:
    - remove
    - tmux

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file remove tmux.conf'
  file:
    state: 'absent'
    path: "{{file_dst_tmux_conf}}"
  tags:
    - remove
    - tmux
