{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Node Exporter
After=syslog.target network.target

[Service]
User=node_exporter
Group=node_exporter
EnvironmentFile={{file_dst_node_exporter_sysconfig}}
ExecStart={{file_creates_node_exporter}} $OPTIONS

[Install]
WantedBy=multi-user.target
